html{
    box-sizing: border-box;
    background-color: white;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 90%;
    /*fonts de disney: inspireTWDC / matternhorn para submenu*/
}
.container-flex{
    display: flex;    
    align-items: center;     
    flex-wrap: wrap ;  
    gap: 5px;
}
.container-center{
    text-align: center;               
}
.justify-center{
    justify-content: center; 
}
a{
    color: black;
    text-decoration: none;
    margin: 10px;    
}
a:hover  {
    color: rgb(0, 119, 218);
}
nav{   
    font-weight:bold;    
}  
/* DROPDOWN MENU solo con enlaces*/
.container-dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-list{
    display: none;
    position: absolute;
    background-color: black;
    min-width: 290px;
}
.dropdown-list a{
    color: white;
    font-size: 80%;
    display: block;   
    padding: 5px; 
}
.dropdown-list a:hover  {
    color: rgb(0, 160, 250);
}
.container-dropdown:hover .dropdown-list{
    display: block;
}
article{
    margin: 5px;
    width: 320px;
    /* flex: 1 1 18%;*/
} 
img{
    border-radius: 5px;              
    margin: 5px;
}
article img:hover {
    -ms-transform: scale(1.05); /* IE 9 */
    -webkit-transform: scale(1.05); /* Safari 3-8 */
    transform: scale(1.05); 
    box-shadow: 4px 4px 4px lightgrey;
  }

.img-rrss img{
    width: 1.5em;
    height: 1.5em;
}
.img-rrss p{
    font-size: 1.3em;
    font-weight: lighter;    
}

h1{
    margin: 2px 20px 5px 20px;      
    font-weight: lighter;
}
h3{
    font-size: 1em;
    margin: 2px 10px;    
    font-weight: lighter;
}
footer {
    font-size: 0.75em;    
}
footer div{
    margin: 30px
}
footer img{
    width: 80px;
    height: 35px;
}
#logo{
    width: 7rem;        
}
/*MENU MOVILES*/
.menu-inblock{
    display: none;
}
.menu-ul{
    width: 100vw;
    height: 100vh;
    background: #00000078;
    position: absolute;    
    /*display: none;*/
    top: 0;
    left: 0;
} 
input, ul{
    display: none;   
}
/*COMENTADO HASTA CORREGIR*/
input:checked  ~ ul{
    display:block;

  }
/* #close-menu-inblock {
    display: none;
}*/
label {         
    margin-left: 10px;      
    line-height: 30px;
    font-weight: bold;
    text-align: center;    
  }  
  li {
    display: block;
    background: lightgrey;
    margin: 0;
    padding: 10px;
    list-style: none;
    border-bottom: 1px solid grey;
  }
  button {
    background-color: rgb(0, 119, 218);
    color: white;
    font-weight: bold;
    font-size: 1.2em;
    border: none;
    border-radius: 30px;
    size: 30rem;
    padding: 15px 100px;
  }

/*Ajustes para cambio de tamaño de pantalla*/
@media (max-width: 768px) {
     .menu-inline {
        display:none;
    } 
    .logo{
        margin-left: 25%;         
    }         
    
    .menu-inblock{
        display: block;
        align-content: flex-start;        
    }   
     .reduce-img img{
        width: 20rem;        
   } 
}
@media (min-width: 960px){
    button {
        display: none;
    }
    

}
@media (min-width: 1100px) {
    input:checked  ~ ul{
        display:none;
      }   
    
    .menu-inblock{
        display: none;   
    }    
   .move-text{
    margin-left: 25%;  
   }
    .reduce-img img{
        width: 15rem;        
   } 
}






