/* ----------- DROPDOWN MENU con listas ------------*/
/* nav ul {
    list-style-type: none;
    float: left;    
}
nav ul li {
	position:relative;
	margin:0 20px 0 0;
	float:left;
    display:inline-block;
}

nav ul li ul {
	display:none;
    position:absolute;
    left:0;
    background:black;   
    float:left;
}
nav ul li ul li {
    width:100%;    
    /* border-bottom:1px solid rgba(255,255,255,.3); 
}
nav ul li ul li a{
    color: white;
}
nav ul li:hover ul {
  display:block;
} */
